html{
    font-size: 10px;
    max-width: 1860px;
}
header {
    font-size: 0;
    height: 100px;
    border-bottom: 1px solid #C4C4C4;
}
.container {
    display: flex;
    grid-template-columns: 300px 300px 300px;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
    margin: 11px 315px;
}
.item{
}
.fese {
    height: 77px;
    width: 77px;
}
.vikno {
    /*position: absolute;*/
    border: 2px solid #323232;
    border-radius: 5px;
    width: 500px;
    height: 35px;
    left: 528px;
    color: #A1A1A1;
    font-size: 16px;
    padding: 9px 0 0 10px;
    background-image: url("../img/Vector.jpg");
    background-repeat: no-repeat;
    background-position-x: 17px;
    background-position-y: center;
}
.vikno_txt {
    margin-left: 35px;
    margin-top: 5px;
}
.butVxid {
    background-color: #EF781A;
    color: #FFFFFF;
    height: 50px;
    width: 98px;
    border: none;
    border-radius: 5px;
}
.butKoch {
    background-color: #00D008;
    color: #FFFFFF;
    height: 50px;
    width: 99px;
    margin-left: 30px;
    justify-content: right;
    border: none;
    border-radius: 5px;
}

main {
    font-size: 0;
    /*background-color: #FFFFFF;*/
    margin: 35px 315px;
}
.ikon1 {
    width: 1218px;
    height: 380px;
    border-radius: 10px;
}
.maneRestoran {
    display: grid;
    grid-template-columns: 720px 500px;
    grid-template-rows: 50px;
    justify-content: space-between;
    margin: 35px 0 43px 0;
}
.restoran {
    font-size: 36px;
    color: black;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
}
.vikno_lupa {
    font-size: 16px;
    color: #A1A1A1;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}
.lupa {
    margin: 13px 10px 12px;
}
.pochuk {
    margin: -40px 0 0 50px;
}

.grid {
    display: grid;
    grid-template-columns: 386px 386px 386px;
    /*grid-template-columns: repeat(3, 1fr);*/
    gap: 30px;
    grid-auto-rows:230px;
    align-items: end;
}
.nameFood {
    height: 92px;
    /*background-color: #FFFFFF;*/
    border-radius: 0 0 10px 10px;
    font-size: 24px;
    align-self: end;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
}
p {
    margin: 10px 0 13px 20px;
}
.knop {
    display: grid;
    grid-template-columns: 108px 89px;
    grid-template-rows: 30px;
    font-size: 14px;
    margin: 0px 18px 0 20px;
    gap: 18px;
    color: black;
}
.cloc {
    width: 108px;
    height: 30px;
    background-color: #FE7D34;
    background-image: url("../img/cloc.jpg");
    text-align: center;
}
.moto {
    width: 88px;
    height: 30px;
    background-color: #00D008;
    background-image: url("../img/moped.jpg");
    text-align: center;
}
.imgs {
    width: 386px;
    height: 230px;
    margin-top: -218px;
    margin-left: -1px;
}
.Food1 {
    background-image: url("../img/popul.png"), url("../img/Макдональдз.jpg");
    background-repeat: no-repeat;
    background-position: 10px 11px, 0 0;
}
.Food2 {
    background-image: url("../img/doctav.png"), url("../img/Mafia.jpg");
    background-repeat: no-repeat;
    background-position: 10px 11px, 0 0;
}
.Food3 {
    background-image: url("../img/kril.png"), url("../img/KFC.jpg");
    background-repeat: no-repeat;
    background-position: 10px 11px, 0 0;
}
.Food4 {
    background-image: url("../img/doctav.png"), url("../img/Pizza House.jpg");
    background-repeat: no-repeat;
    background-position: 10px 11px, 0 0;
}
.Food5 {
    background-image: url("../img/Rukola.jpg");
}
.Food6 {
    background-image: url("../img/Lviv Croissans.jpg");
}
.Food7 {
    background-image: url("../img/Mamamia.jpg");
}
.Food8 {
    background-image: url("../img/Хлебный.jpg");
}
.Food9 {
    background-image: url("../img/Time Cafe.jpg");
}
.Food10 {
    background-image: url("../img/Salateira.jpg");
}
.Food11 {
    background-image: url("../img/Green 13.jpg");
}
.Food12 {
    background-image: url("../img/VAPIANO.jpg");
}
.Food13 {
    background-image: url("../img/Папа Джон.jpg");
}

.grid2 {
    display: grid;
    grid-template-columns: 386px 386px 386px;
    gap: 30px;
    grid-auto-rows:230px;
    align-items: end;
}
.magazin {
    width: 193px;
    height: 44px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: black;
    margin: 30px 0 30px -20px;
}
.Food14 {
    background-image: url("../img/Фора.jpg");
}
.Food15 {
    background-image: url("../img/АТБ.jpg");
}
.Food16 {
    background-image: url("../img/Silpo.jpg");
}
.Food17 {
    background-image: url("../img/doctav_r.png"), url("../img/Eva.jpg");
    background-repeat: no-repeat;
    background-position: 10px 11px, 0 0;
}

.fon {
    width: 386px;
    height: 140px;
}

footer {
    background: linear-gradient(91.41deg, #323232 25.4%, #000000 75.33%);
}
.container2 {
    display: flex;
    justify-content: center;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
    height: 100px;
    margin: 200px 315px;
}
.txt {
    display: flex;
    justify-content: center;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
    color: #FFFFFF;

    /*margin: 11px 315px;*/
}
.item2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-left: 27px;
}
.silk {
    display: flex;
    grid-template-columns: 40px 40px 40px;
    flex-direction:row;
}
.item3 {
    margin-left: 18px;
}
.imSilk {
}
